<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>How to cope up with stress while preparing for any competitive exams?</h2>
          </div>
          <div class="page_link">
            <h5 class="topic1">By Sonal Verma</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_details">
                <p><em>A little bit of stress can be a good thing as it motivates us to work hard. But exams can make
                    stress levels get out of hand, which can stop us from performing our best. So it's important to
                    address it and get it back under control.</em></p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog3/1.jpg" alt="">
                <div class="blog_item_date">
                  <h3>1</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Exams coming up?</h2>
                </div>
                <p> Sometimes the pressure of exams may cause stress. Stress is the response to pressure and, while a
                  small amount of pressure can be useful to keep someone focused during exam time, if it becomes too
                  much, study can seem impossible.</p>
                <p>If someone experiencing exam stress, it's important to remind yourself that this is only a small part
                  of your life, even though it might not feel like it at the time.Working towards exams can creating
                  feelings of worry and being under pressure, especially at university where you’re aiming for a degree.
                  However there are a range of things that you can do to help deal with the stress that you might be
                  feeling...</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog3/2.jpg" alt="">
                <div class="blog_item_date">
                  <h3>2</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Stress Symptoms</h2>
                </div>
                <p>Look out for extreme cases of the following if you feel the work's piling up:</p>
                <ul class="my_list">
                  <li>Difficulty getting to sleep or difficulty waking up in the morning</li>
                  <li>Constant tiredness</li>
                  <li>Forgetfulness</li>
                  <li>Unexplained aches and pains</li>
                  <li>Poor appetite</li>
                  <li>Loss of interest in activities</li>
                  <li>Increased anxiety and irritability</li>
                  <li>Increased heart rate</li>
                  <li>Migraines/headaches</li>
                  <li>Blurred vision</li>
                  <li>Dizziness</li>
                </ul>
                <p>If you've noticed three or more of the above symptoms and you've experienced them for a few weeks you
                  may need to do something about your stress levels.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog3/3.png" alt="">
                <div class="blog_item_date">
                  <h3>3</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>How to manage exam stress</h2>
                </div>
                <p>Think of how you would feel if your child compares you with the parents of his friends who are maybe
                  smarter, richer, or have better houses and jobs? It won’t feel good. Likewise for children. It makes
                  them feel worthless and unwanted.</p>
                <p>Your child wants to hear that you believe he can do well in exam, and only you can encourage him.
                  Take an interest in his interests and together explore new career options for him. Give him your
                  support in whatever career route he chooses as long as he approaches with passion and determination.
                </p>
                <ul class="my_list">
                  <li>Learn to recognize when you're stressing out. A break or a chat with someone who knows the
                    pressure you're under will get things into perspective.</li>
                  <li>Avoid comparing your abilities with your friends or batch mates. Those "Oh my God I've only read
                    poem 17 times" conversations are such a wind up. Everyone approaches revision in different ways, so
                    just make sure you've chosen the method that works best for you. Make a realistic timetable. Stick
                    to it.</li>
                  <li>Eat right. Treat yourself like a well honed machine - eat fresh fruit and veg and have a proper
                    breakfasts. Fuel your brain as well as your body - no one can think straight on coffee and
                    chocolate.</li>
                  <li>Sleep well. Wind down before bed and don't revise it on your bed. Get your eight hours.</li>
                  <li>Exercise. Nothing de-stresses the mind faster than physical activity, so build it into your
                    timetable.Doing meditation and ../images/blogs/blog3/ is good for the health and it will also keep
                    your mind calm and relaxed.</li>
                  <li>Quit the bad habits. Cigarettes and alcohol never stopped anyone being stressed for very long.
                  </li>
                  <li>Panic is often triggered by hyperventilating (quick, shallow breaths). So if you feel yourself
                    losing it during the exam, sit back for a moment and control your breathing. Deep breath in and out
                    through the nose, counting to five each way.</li>
                  <li>It doesn't matter what your batchmate wrote for Question 3(b), it's too late to go back and change
                    your answers, so it will just make you worry even more. So don't take stress about what you have
                    performed in the examination, take a deep breath and everything will be fine. </li>
                </ul>
              </div>
            </article>


            <article class="blog_item">
              <div class="blog_details">
                <p><em>Ultimately, don't lose sight of the fact that there is life after exams. Things might seem
                    intense right now, but it won't last forever. So don't take stress and enjoy your life freely. </em>
                </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_details">
                <p>Here I'm sharing a video containing some tips and techniques related to the exam stress. I hope this
                  information will help you.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VZTGBj7Zyvk" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </article>

          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>
</body>

</html>