<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <!--================ Start header Top Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Studying in the Time of Coronavirus </h2>
          </div>
          <div class="page_link">
            <h5 class="topic1">Ashish Tripathy</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================ End header top Area =================-->

  <!--================Blog Area =================-->
  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-1.png" alt="">

              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>April 17, 2020 </h2>
                </div>
                <p>Educational institutions in many parts of the world have been shut and citizens are being actively
                  advised to practice social distancing and stay indoors due to the coronavirus outbreak in different
                  countries. The fight against the pandemic COVID-19 has necessitated drastic measures to be taken.
                  Needless to say, these are challenging times that we are living in. This is why most students are
                  relying on online classes and courses to stay engaged during the covid-19 lockdown </p>
                <p>To effectively slow down the spread of the infection, the country has been put under lockdown and all
                  public places such malls, entertainment centers and shops barring a few essential services have been
                  ordered shut. Public movement is also curtailed with citizens advised to avoid going out except for
                  emergencies.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-2.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Self-study at home</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> </h2>
                </div>
                <p>At a time like this, it is advisable that students practice self-study at home by browsing through
                  the important questions and looking for answers and solutions to their doubts.The MBD Group too, have
                  given free access to course content from class 1 to 12 so that students can continue to study no
                  matter what. The platform also provides online assessments and will be of great help to students who
                  are forced to miss school and spend time indoors due to the nationwide lockdown. </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-3.jpg" alt="">
                <div class="blog_item_date">
                  <h3>MOOCs and online courses</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> </h2>
                </div>
                <p>For college students, the availability of free time presents the perfect opportunity to brush up
                  their resumes by enrolling in one or more of the various Massive Open Online Courses (MOOC) that are
                  available online. These courses are a great way to broaden ones horizon on interesting subjects or
                  learn a new skill.</p>
                <p>Online certificate courses can come in handy during the job search later on. For the interested,
                  there are multiple sources on the internet that provides online live classes, step-by-step tutorials
                  and how-to videos that can be useful in learning a new skill or clearing doubts and understanding
                  critical concepts. </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-4.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Augmented Reality Education Apps</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2></h2>
                </div>
                <p>Elements 4D (Android / iOS) by DAQRI studio, an app for studying chemistry. It allows combining
                  different elements as the simulation, to see how they would react in reality. To start it special
                  triggers on printed cards are used. On their website, you can find lessons plans suitable for high
                  school, secondary and elementary school programs. </p>
                <p>Anatomy 4D (iOS / Android) is best suitable for medical students. By scanning printed targets the
                  application shows 3D models of a human body and allows to interact with it. Users may change and
                  adjust any part of the human body, learn more about parts, joints, functions etc.</p>
                <p>AugThat (Android / iOS), designed by a former teacher, is the application that brings AR in a
                  classroom. AugThat mainly targets students who lack motivation with help of 360-degree virtual photos
                  and multiple 3D experiences.</p>
                <p>Google Translate (Android / iOS) is just great for studying foreign languages without a dictionary.
                  By using Google Translate special “AR mode” you may instantly check up unknown words. Works well both
                  for students and tourists, to navigate in cities abroad. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-5.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Overview of next year’s syllabus</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> </h2>
                </div>
                <p>With entire online catalogues available for free access, School students can take this as an
                  opportunity to study next year’s syllabus using e-books and other e-contents. Educational boards such
                  as the NCERT too, have their entire syllabus available online and by productively leveraging these
                  resources, students can be well prepared for school as and when they re-open for the next session.
                </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog5/m-blog-6.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>JEE Main 2020 Preparation</h3>
                </a>
              </div>

              <div class="blog_details">

                <p>The second phase of JEE Main 2020 has now been postponed due to the pandemic that have spread in our
                  country. Students should take it as a blessing in disguise and take this opportunity for better
                  preparation during this period. </p>
                <p>But remember, every student has got this extra time and every one would be utilising this extra time.
                  So how do you make a difference?Candidates would already be very anxious, perplexed on how to handle
                  the last-minute preparation. Last minute preparation always would be different from the last two years
                  preparation. Be cool, relax, and take it in a stride. </p>
                <div class="d-inline-block topic">
                  <h2> Make your strength stronger</h2>
                </div>
                <ul>
                  <li>● This is not the time for the candidates to study any new area or the area that they are weak at
                  </li>
                  <li>● Concentrate on subjects and chapters you are confident about</li>
                  <li>● Try to do maximum questions from these chapters and make it stronger</li>
                  <li>● The idea should be that you should not lose marks especially on the medium or easy questions
                    from this chapter</li>
                  <li>● They should revise on 11th standard topics first as 12th standard topics; they would be better
                    equipped as they have learnt this academic year for their board preparation.</li>
                </ul>
                <div class="d-inline-block topic">
                  <h2> Sleep well and relax</h2>
                </div>
                <p>Do not forget to sleep well during this period; take healthy food (avoid packed or outside food) -
                  you don't need any sickness during this period and relax. Stay home and Stay Safe.</p>
                <p>Don't study long hours, take small breaks, don't worry about time table going awry; just relax and
                  start afresh. They should study overall for at least 12-15 hours per day.</p>
              </div>
            </article>


          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../partials/footer") %>
</body>

</html>