<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Myths about JEE Exam - Each JEE aspirant should know</h2>
          </div>
          <div class="page_link">
            <h5 class="topic1">By Anubhav</h5>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1/m-blog-1.png" alt="">
                <div class="blog_item_date">
                  <h3>1</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> One has to study very hard for IIT? I can’t do it! </h2>
                </div>
                <p>To achieve anything big in life one has to put the best efforts. And when we are talking about one of
                  the toughest exams it is surely need of time. But merely working hard is not the key. </p>
                <p>There has to be proper planning, time management, managing the course and topics properly. You also
                  need to ensure you are tracking and analyzing your performance repeatedly by mock examinations and
                  tests. </p>
                <p>Every student, whether it be you, your friend, people who cracked JEE in past or anyone else, have
                  the same 24 hours in a day and it all comes to how efficiently you managed and utilized your time.
                </p>
                <p>You will never find time for anything. If you want time you must make it. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-2.jpg" alt="">
                <div class="blog_item_date">
                  <h3>2</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> I joined the best coaching institute. Why would i fail?</h2>
                </div>
                <p>Many people develop this misbelieve that to crack JEE coaching is a must! They believe that joining a
                  good coaching institute will make you more compatible to crack JEE and will act as a substitute to the
                  hard work. </p>
                <p>This is absolutely wrong! </p>
                <p>To an extent, coaching helps you in channelizing your energy and efforts in right direction, by means
                  of experienced faculties and presenting study material, questions, content and guidelines in
                  simplified manner. </p>
                <p>But it does not mean if you are not joining a coaching your schedule will be a mess, you will never
                  understand the concepts or you will not be able to crack JEE! </p>
                <p>Until and unless you don’t do vast variety of questions, develop understanding for the concepts and
                  their applications under various scenarios, you won’t be able to gain the confidence that yes you can
                  crack JEE. </p>
                <p>Most of the students are mislead by the fancy misleading advertisements in newspapers, pamphlets,
                  Television or any other source bragging about the success and number of selections from their
                  institute. JEE can be cracked without coaching as well! </p>
                <p>Remember, and mark these words, at the end of the day, there is no magic in coaching institutes which
                  can get you selected in JEE. The magic lies in you, you are the magician and the strong will and
                  dedicated efforts will get you there. Coaching can help you in achieving the same. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-3.jpg" alt="">
                <div class="blog_item_date">
                  <h3>3</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> Questions asked in JEE are very lengthy and complex! </h2>
                </div>
                <p>A lot of students have this misbelieve that the questions asked in JEE are very long and run across
                  the page. Gone are those days when JEE used to be subjective and completely solving 2 questions out of
                  5 was considered good. </p>
                <p>Questions in JEE now are focused on testing your conceptual knowledge, analytical skills and through
                  understanding of topic along with numerical abilities. </p>
                <p>You don’t believe me? Go and check the previous year questions of IIT and note how many questions
                  were there which asked for the mathematical labor. There will be set of questions not running down
                  more than 3-4 steps but needed strong analytical and conceptual application. </p>
                <p>In recent years, the pattern of JEE is inspired by the NCERT format as well. You will find questions
                  related to practical applications, laboratory experiments and related terminologies. </p>
                <p>The professors working on the JEE paper are wise and well aware that they are preparing it for a 12th
                  pass-out kid and what has to be the difficulty level. So what should be your focus be is to strengthen
                  the conceptual knowledge & practice practice and practice. </p>
                <p>The price of success is hard work, dedication to job at hand, and determination that whether we win
                  or lose we have applied the best of ourselves to the task at end. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-4.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>4</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> I have lot of time left still. I would study later! </h2>
                </div>
                <p>It’s never too early to start. There is no gain without pain. </p>
                <p>Remember, you know yourself better than anyone else. When you give yourself proper amount of time to
                  study and grab to concepts it yields better results.</p>
                <p>It’s not like if you don’t prepare for minimum 2 years or start some foundation course from class 5th
                  itself you can’t crack IIT entrance. It’s more about understanding your capabilities and efforts
                  needed for the goal and utilizing all the available time in best manner.</p>
                <p>Start today, not tomorrow. If anything, you should have started yesterday. The earlier you start, the
                  more time you have to mess up.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-5.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>5</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Reading basics are for weak students. I will solve questions! </h2>
                </div>
                <p>This is a common misconception that JEE aspirants have. It’s true that you need to practice on
                  diverse variety of questions in order to understand all possible applications and questions. But often
                  it is seen that students try to jump to questions after completing the theory and concepts in hurry.
                </p>
                <p>This is highly not advisable. Jumping to questions directly in hurry will lead to weak concepts and
                  you will also not be having clarity while solving the questions.
                  Before you move to the questions, ensure you have well understood the concepts, formulas and
                  applications of the various topics. A wrong concept misleads the understanding. </p>
                <p> The pattern of JEE focuses on testing your conceptual ability. If you don’t have through concepts it
                  will be difficult to solve the questions in exam when questions are mingled up from all the chapters.
                </p>
                <p>There is nothing worse than a sharp image of a fuzzy concept. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-6.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>6</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> I love physics but i hate mathematics? I will compunsate maths with physics!</h2>
                </div>
                <p>This is a question a major section of JEE aspirants face! The subject you like and the subject you
                  hate may change but there is always a subject you love studying or you perform better compared to the
                  others. </p>
                <p>Now what should be done? Should you leave the tough subject (One you like or understand less) and
                  focus on the interest subject? Would it give same results? </p>
                <p>The answer is NO. You might be able to compensate some part of the weak subject by scoring well in
                  your strength subject but it won’t get the best rank possible for you. </p>
                <p>We all have habit of ignoring our weaknesses and focus on the strengths. It’s not just you, it’s all
                  of us. We do it because it’s hard to work on weaknesses and mistakes. You have to take lot of pain to
                  improve on the weaknesses</p>
                <p>Give some extra time to the subject you face more difficulty in understanding. Consult and take
                  proper guidance from the faculty at your school/coaching/tuitions. They will be able to guide you on
                  the pattern and ways you should follow or books you should refer to. </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-7.jpg" alt="">
                <div class="blog_item_date">
                  <h3>7</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> Board preparations is for Muggers! I will study for JEE and will crack it! </h2>
                </div>
                <p>JEE Aspirants do think that if they are preparing for an exam of stature of JEE they can easily score
                  very well in Board examinations.
                  It’s true if you give proper efforts for JEE preparations, board will not be a difficult task. </p>
                <p>BUT </p>
                <p>Vice versa also holds true that students preparing for boards full heartedly can crack JEE too! </p>
                <p>This is a common belief that JEE is for the meritorious students who deal in concepts, analysis and
                  applications whereas board deals with theory and textual content, not on concepts and applications.
                </p>
                <p> Basically, 2 are completely different. On one hand, JEE is an objective type test and Board
                  examinations are purely subjective. But the course is nearly same.</p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-8.jpg" alt="">
                <div class="blog_item_date">
                  <h3>8</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>To crack JEE i need to study many books and learn higher level concepts! </h2>
                </div>
                <p>It’s true that there is difference in the question’s level of difficulty and pattern asked in JEE and
                  board examinations. But the syllabus is nearly same and good preparation as per board syllabus is also
                  considered good for JEE as well if you understand the JEE pattern along with. </p>
                <p>You must try to understand the basics of each topic and subject instead of solving all the problems.
                  Very often a thorough understanding of a few topics proves better than a superficial idea about all
                  topics.</p>
                <p>Referring to 10 different books and getting partial knowledge would not be of any help. Rather you
                  must focus on 2-3 books as per respective subject and topics and thoroughly prepare the concepts and
                  vast variety of questions to gain confidence. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1//m-blog-9.jpg" alt="">
                <div class="blog_item_date">
                  <h3>9</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> I am well informed about procedures and counselling. I can manage it easily!</h2>
                </div>
                <p>It’s very important that after all the hard work and performance in multiple examinations, we choose
                  the best possible college and branch as per performance and interest. </p>
                <p>It is evident statistically that 1 out of every 4 student choose a wrong college because of wrong or
                  lack of information! </p>
                <p>To attend multiple counselling and all counsellings have similar time frames it is very essential to
                  keep proper tracking and information of the same. This will ensure you don’t end up taking a wrong
                  decision. </p>
                <p>You should also consult education experts, career counselors and alumni of various colleges you are
                  targeting to understand the ground reality and comparative analysis properly. </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog1/m-blog-10.jpg" alt="">
                <div class="blog_item_date">
                  <h3>10</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> Once i clear IIT i will be GOD!</h2>
                </div>
                <p>Are you also among the students who think once you get into some IIT life would be awesome always?
                </p>
                <p>Do you think that you will have the best opportunities waiting for you after you graduate? After 4
                  years, companies would be desperate to hire you? Yes, IIT gives you an edge over others but to certain
                  limit. </p>
                <p>Not all IITians do the best and not all who do the best are IITians. It’s your efforts, hard work and
                  constant intention to improve, learn and grow which gets you best opportunities. </p>
                <p>The tag of IIT will give you advantage in terms of better learning opportunities, better
                  laboratories, better peer group, good faculty and a reputation in the external world. But it all will
                  add value only when you put your efforts during graduation as well.</p>
                <p>After 4 years, your JEE rank, whether Rank 1 or Rank 2000 would hardly matter. Don’t live in the
                  dilemma that clearing IIT means life will have all what you need after it and no more efforts need to
                  put in from your end. There is no substitute to hard work. </p>
                <p>This is not to demotivate you but to give you a clear picture that whatever you aspire to achieve,
                  you need to put in best efforts. And for the moment, the target it to Crack JEE! </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include("../partials/footer") %>
</body>

</html>