<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myths about JEE Exam - Each JEE aspirant should know</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/blog.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/responsive.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("../partials/navbar") %>

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Technology - bridging the gap in students' learning cycle</h2>
                    </div>
                    <div class="page_link">
                        <h5 class="topic1"></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img border" src="img/m-blog-1.png" alt="">

                            </div>

                            <div class="blog_details">
                                <div class="d-inline-block topic">
                                    <h2>“Technology is a word that describes something that doesn’t work yet”</h2>
                                </div>
                                <p>Technology is applying logical learning to discover answers and fix the issues. It is
                                    the utilization of both science and logical learning. Technology serves a variety of
                                    purposes and mean different things to different people. It can influence the life
                                    contrarily. With new inventions and discoveries it changes our life contrarily and
                                    without a doubt takes it to another level. It gives a better approach of resembling
                                    the things in a better, efficient and unexpected way.</p>
                                <img src="../images/blogs/blog4/img1.jpeg" alt="img1">
                                <hr>
                                <p>Different technologies are emerging day by day and can be used as a solution for
                                    bridging the gap. Not only in health, automation etc. but it also has undergone
                                    various positive changes in the education system during the course of time.
                                    Technology has totally changed each and every individual’s lifestyle. Not only in
                                    engineers, entrepreneurs, health workers but also it has played a huge role in
                                    bridging the students learning cycle. </p>
                                <img src="../images/blogs/blog4/img2.jpeg" alt="img2">
                                <hr>
                                <p>As well said by David War kick, “We need technology in every classroom and in every
                                    student and teachers hand, because it is the pen and paper of our time, and it is
                                    the lens through which we experience much of our world” </p>
                                <img src="../images/blogs/blog4/img3.jpeg" alt="img3">
                                <hr>
                                <p>With emerging technology students ae able to develop more innovative ideas. With an
                                    increasing amount of internet penetration technology is making education accessible
                                    at every level by providing courses and contents free of cost or at reasonable
                                    prices. Technology based projects has inspired the students to think and collaborate
                                    as opposed to memorizing, whether they are using the web for research to correspond
                                    with other students or experts who are not physically present. These projects have
                                    helped to learn new skills. </p>
                                <img src="../images/blogs/blog4/img4.jpeg" alt="img4">
                                <hr>
                                <p>Through the use of LMS (learning management systems) students can access online
                                    resources to get assistance on demand beyond the physical reach of their teachers.
                                    Students can access teachers, resources, and assignments via web using various tools
                                    and applications like YouTube, zoom, google classroom etc. whenever and wherever
                                    they have internet connection.</p>
                                <img src="../images/blogs/blog4/img5.jpeg" alt="img5">
                                <hr>
                                <p>Not only for the students but also it can be a “force multiplier “for teachers and
                                    parents as well. Most guardians nowadays have extremely busy schedules .In turn they
                                    may not have the time to assist their child with homework at home .Technology can
                                    help. Parents may be able to meet the teachers via video conferencing or other
                                    collaboration tools. They can check their child’s attendance, assignments time to
                                    time to ensure whether their child is punctual or not. They can converse their
                                    students via text message, emails etc.</p>
                                <img src="../images/blogs/blog4/img6.jpeg" alt="img6">
                                <hr>
                                <p>Students are digital native, with technology there are no limitations. Having access
                                    to other information outside of the book gives students many different ways to learn
                                    a concept. Schools throughout the nation are diverse in income and often kids don’t
                                    always get the resources they need. The implementation of technology in schools
                                    helps close that gap.</p>

                            </div>
                        </article>


                    </div>
                </div>
            </div>
        </div>
    </section>







    <%- include("../partials/footer") %>
</body>

</html>