<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Parents Problem Forever</h2>
          </div>
          <div class="page_link">
            <h5 class="topic1"></h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/1.jpg" alt="">
                <div class="blog_item_date">
                  <h3>1</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>How to Deal with your Child’s Poor Academic Performance? </h2>
                </div>
                <p>Regardless the age of your child, the occasional school struggle is normal. But when that struggle
                  becomes a pattern, it often raises concern―from parents and/or teachers. A child's lack of academic
                  progress is often a symptom of more complex issues such as various types and combinations of
                  behavioral, psychological, and learning difficulties. Social stress, illness, and chronic medical
                  problems may also play a role. </p>
                <p>It is not uncommon to hear a parent reprimanding his child for scoring 96 marks in Mathematics when
                  they could have scored 100. It’s a situation that generations of students find all too familiar. After
                  a Primary five pupil fell to his death in October last year, the issue of exam obsession that some
                  parents have – causing undue stress on their young children – has come under fierce debate. Have you
                  put thought into how much pressure you put on your kids to do well academically? Here are some tips to
                  cope if your child is not performing well. </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/2.png" alt="">
                <div class="blog_item_date">
                  <h3>2</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Remain calm</h2>
                </div>
                <p>It is not the As or Bs, but the expression on parents’ faces when they read their report cards
                  matters most to children, say experts. Children just want to see their parents happy for who they are
                  and seek their approval. </p>
                <p>Overreacting can affect your child’s self-esteem. Yelling and screaming will never help, and will
                  only create a reluctance for your kid to talk to you about anything in future. Don’t take your child’s
                  failure personally. It is not about you, it’s about them. If you feel like you cannot remain calm,
                  walk away until you cool down. Remember to let your child know that even though you do not approve of
                  the grade, you still love him or her very much. You want to foster a positive environment in which
                  your child feels comfortable asking you for help – nobody will ask for help from an irritable parent.
                </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/3.jpg" alt="">
                <div class="blog_item_date">
                  <h3>3</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Do not compare</h2>
                </div>
                <p>Think of how you would feel if your child compares you with the parents of his friends who are maybe
                  smarter, richer, or have better houses and jobs? It won’t feel good. Likewise for children. It makes
                  them feel worthless and unwanted.</p>
                <p>Your child wants to hear that you believe he can do well in exam, and only you can encourage him.
                  Take an interest in his interests and together explore new career options for him. Give him your
                  support in whatever career route he chooses as long as he approaches with passion and determination.
                </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/4.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>4</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> Have reasonable expectations </h2>
                </div>
                <p>It is important to set reasonable goals according to what your child can achieve. Not every child is
                  going to have perfect scores or turn out to be doctors and lawyers. Every child is unique and has
                  different aptitudes. The key is knowing the difference between your child failing because of not
                  trying, versus failing because they excel in other areas.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/5.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>5</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Let your child rest</h2>
                </div>
                <p>Yes, there is such a thing as studying too much. Studying for too long does not increase the amount
                  of material remembered and can have the opposite effect. Ensure your child is well rested before an
                  exam and eats a good breakfast. It will allow the brain to work at its best capacity. Help your child
                  to develop good study habits while still maintaining a balance. Each day, your child should have
                  enough rest on top of study sessions, and have the chance to play and spend time with the family. This
                  balance is indeed a lifelong skill.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/6.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>6</h3>
                </a>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Offer help, not punishment</h2>
                </div>
                <p>Grounding a child by not letting him participate in school sports or other extra-curricular
                  activities doesn’t convey the right message. Cutting out this balance in life and will just push your
                  child to be a recluse. Find ways that will help your child feel successful instead of penalised.</p>
                <p>If punishment is what they get, your child might get more fearful of sharing their academic
                  achievements with you. Let your child know that they can count on you for help so that they will
                  continue to feel motivated to work harder after every exam.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="../images/blogs/blog2/7.jpg" alt="">
                <div class="blog_item_date">
                  <h3>7</h3>
                </div>
              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2>Help your child learn their strengths and weaknesses</h2>
                </div>
                <p>No two people learn the same way, and your child’s teacher may be using a method that works for most
                  students but not for him. Sometimes, another approach or a differently-angled explanation is all it
                  takes for understanding.</p>
                <p>Help your child determine which areas they have difficulty in, and adjust study time to focus on
                  them. Teach children not only to do their homework but to develop responsibility, foresight, and
                  dedication. These skills are just as essential for learning and can dramatically aid in their overall
                  achievement.</p>


              </div>
            </article>


          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include("../partials/footer") %>
</body>

</html>