<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Amazing Facts About BITS Pilani That Will Blow Your Mind!</h2>
          </div>
          <div class="page_link">
            <h4 class="topic1"></h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_item_img">
                <a href="#" class="blog_item_date">
                  <h3>No Reservation Policy</h3>
                </a>
              </div>

              <div class="blog_details">
                <p>No reservations whatsoever. Even if the PM of India recommends
                  you for admission, unless you crack the BITSAT, you will not be
                  considered. One such instance was when Indira Gandhi, the then
                  PM of India recommended somebody just to find a befitting
                  response of rejection from Shri. KK Birla, the then Chancellor.</p>
              </div>
            </article>
            <br>
            <article class="blog_item">
              <div class="blog_item_img">

                <a href="#" class="blog_item_date">
                  <h3>Many Firsts</h3>
                </a>
              </div>

              <div class="blog_details">
                <p>The first Institute in India to have an online entrance examination
                  called BITSAT.
                  The first Indian Institute to have an international campus. It has got
                  a campus in Dubai.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-5.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>The most innovative curriculum</h3>
                </a>
              </div>

              <div class="blog_details">
                <p>Here students decide the timetable and choose their faculty. Also
                  has a Practice School program through which students gain
                  industrial exposure of around 8 months.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-6.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Flexible Nature</h3>
                </a>
              </div>

              <div class="blog_details">
                <p>No attendance policy. You can attend the classes if you wish and it
                  is on a voluntary basis. Absolute freedom is given and that's what
                  makes the students excel in their passion.</p>
                <p>The institute is also known for the flexibility that it offers to
                  students. Apart from opting for dual degree programs, students can
                  also opt for transferring courses from one program to another.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-7.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Strongest Alumni</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>One of the strongest and well maintained alumni networks,
                  BITSAA, recognised worldwide.</p>
                <p>
                  Since the formation of BITS Students Alumni Association, alumni
                  students participating in the development of the institute has
                  increased. Meetings among past students and the current students
                  are repeatedly arranged, where students from the institution like
                  founders of Hotmail, Wipro or Bharat Forge interact on a regular
                  basis with students. Now, isn’t that cool?
                </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-8.jpg" alt="">
                <div class="blog_item_date">
                  <h3>BITS Connect 2.0.</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>All the four campuses of BITS are inter-connected through a
                  project called BITS Connect 2.0 . For instance, through this initiative,
                  a student from Goa Campus can not only attend lectures, guest
                  talks by eminent people at PILANI, HYDERABAD, or DUBAI
                  campuses, he/she can also interact with them online, pose
                  questions and get them clarified immediately. Thus, path leaders by
                  introducing remote education and opened a way for collaborative
                  research and development among the sister campuses</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-9.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Up-To-Date Curriculum</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>BITS Pilani is also known for adapting to important changes in
                  education swiftly, even faster than the IITs. AutoCAD is used as a
                  tool in BITS, while IITs still use pencils and drawing boards.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-10.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Moment of Proud</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>Furthermore, BITS Pilani has recently been declared as one of the
                  six Institutes of Eminence by the Government of India. Apart from
                  contribution to research, quality of faculty and the peer-viewed
                  journals released by the participating institutes were some of the
                  factors considered for selection purposes.</p>
                <p>
                  While public institutes selected under this scheme would be
                  receiving funding, private institutes like BITS Pilani would be getting
                  complete autonomy from regulations.
                </p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-10.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Entrepreneurship as a part of learning</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>To help build the future CEOs, BITS has introduced programmes
                  such as <strong>New Venture Creation (NVC)</strong> course. This lecture of this
                  course is delivered by various strongholds in the industries such as
                  investors, business heads, successful entrepreneurs alongside
                  professors from BITS and other institutes.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-10.jpg" alt="">
                <div class="blog_item_date">
                  <h3>More practical knowledge</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>To put theory into practice, Hyderabad campus has partnered with
                  <strong>Dept. of Science and Technology (DST)</strong> and formed <strong>Technology
                    Business Incubator (TBI)</strong> . This team provides office space,
                  state-of-the-art equipment, and mentorship through which it helps
                  the budding entrepreneurs.</p>
              </div>
            </article>


          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer") %>
</body>

</html>