<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myths about JEE Exam - Each JEE aspirant should know</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/blog.css">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/footer.css">
  <link rel="stylesheet" href="../stylesheets/responsive.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
</head>

<body>
  <%- include("../partials/navbar") %>

  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>MANAGEMENT: - THE MOST CRUCIAL FACTOR TO SUCCED IN ANY COMPETITIVE EXAM TIME </h2>
          </div>
          <div class="page_link">
            <h4 class="topic1"></h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-1.png" alt="">

              </div>

              <div class="blog_details">

                <p>TIME MANAGEMENT, technique of planning, organizing & exercising conscious control of time spent on
                  specific activities just to increase productivity, efficiency to get the best result in a smarter way
                  – not harder. </p>
                <p>It may seem counter-intuitive to dedicate precious time to learning about time management, but the
                  benefits are enormous</p>
                <ul>
                  <li>● Greater productivity, efficiency</li>
                  <li>● A better professional reputation</li>
                  <li>● Less to worry & stress</li>
                  <li>● Increased opportunities for advancement</li>
                </ul>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-2.jpg" alt="">
                <div class="blog_item_date">
                  <h3>HOW TO SAY IT IS A CRUCIAL FACTOR? </h3>
                </div>
              </div>

              <div class="blog_details">

                <p>Time management can have two sides, if it is performed & managed – </p>
                <p>In good way: - +ve side</p>
                <p>If not then -ve side</p>
                <div class="d-inline-block topic">
                  <h2>Let’s connect it with the main topic point i.e. for succeeding in any competitive exam the role of
                    time.</h2>
                </div>
                <p>Time managing is a significant tool in academics aa well as career, mostly people come to know it
                  only when they face failure. Usually people plan about time managing for their exams, project or can
                  be say for preparation with eagerness at beginning moment, but mostly they fail to follow it. </p>
                <p>In every person the most popular hidden question in mind is how do smart people get success in their
                  perspective field, its simple a strategy of effective time utilization in their task.</p>
                <p>During exam or project the time is only friend in all angles for the only intention where time
                  management preparation can be proximities of success will be good. Making an advance plan before a
                  couple of weeks, especially it is necessary in competitive exams. Although following time management
                  for separate tasks may feel you like hard and frustrated. But once you stick with it, then later to
                  you becomes routine. surprise naturally it </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-3.jpg" alt="">

              </div>

              <div class="blog_details">
                <div class="d-inline-block topic">
                  <h2> Questions asked in JEE are very lengthy and complex! </h2>
                </div>
                <p>Before scheduling, decide which time suits you for the contended learning either a day time or a
                  peaceful night time.</p>
                <p>Additionally, allotting a peak timing for crispy topics so that may increase the memorizing level &
                  in parallel saves your time revising time.</p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-4.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Structure your time </h3>
                </a>
              </div>

              <div class="blog_details">

                <p>Anything that has its own structure will go smoothly to any extent. The goal of making time
                  management needs a strong foundation in structuring of time.</p>
                <p>Everyone has our own things to do and in such schedules structure your time by analysing your daily
                  duties back and front. Meantime analyse more to discover time for recreation, study, sleep and other
                  activities. </p>
                <p>Clearly frame out the month, week, and day preparation schedules accordingly that does not disturb
                  your other works. Finally, it helps you to fit yourselves in proper preparation. </p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-5.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Evaluate your time </h3>
                </a>
              </div>

              <div class="blog_details">
                <p>Naturally many students have tendency of evaluating their study based on the time they spent for
                  preparation. Some will be in determination to complete the portion in particular time and some other
                  freak out freely.</p>
                <p>In reality most of students fail to follow, as per the plan in most circumstances and very
                  particularly in concern to time based study. In order to evaluate your time in detail, record your
                  weekly activity timings in hours.</p>
                <p>For example, TV, phone, Internet, exercise etc… Then find out at how long hours you are free from
                  sleeping time. Try to adjust your activities only during the preparation periods and follow your
                  schedules.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-6.jpg" alt="">
                <a href="#" class="blog_item_date">
                  <h3>Set your primacies </h3>
                </a>
              </div>

              <div class="blog_details">
                <p>The main aim of time management is to manage time cleverly to get your targets. A swimmer will spend
                  more time on swimming, a boxer will spend more time on boxing and likewise to crack competitive exams,
                  the priority should be on time.</p>
                <p>Perhaps your study modules would consist of various activities like reading, research, writing,
                  experiments, assignments, projects, essays and cycle tests etc. so give your primacies to the method
                  that increases your gamble of success.</p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-7.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Sort a roster </h3>
                </div>
              </div>

              <div class="blog_details">
                <p>After setting your primacies, move on to set up an agenda which compiles your preparation. Widespread
                  of candidates use various organizing tools as charts, diaries, electronic tools and other such
                  materials.</p>
                <p>Always create something that makes you comfortable and allows you to refer often. Then sort out your
                  schedule in following order:</p>
                <ul>
                  <li>● Spot all your default vows as seminars, tutorials, classes, and part-time jobs.</li>
                  <li>● Reserve large section of your day only for preparation purposes. Especially those who already
                    working in a job has to find some other extra time accordingly.</li>
                  <li>● Also include you other activities like socializing, recreation, exercises to arbitrate your
                    roster.</li>
                </ul>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-8.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Follow a calendar</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>In accumulation with all other time management plans include a large monthly calendar on your wall.
                  Frequently mark all your deadlines and important dates in front of you as a reminder. This will help
                  you to remember important dates and help you to render with sudden changes in schedules.</p>
              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-9.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Use assessment </h3>
                </div>
              </div>

              <div class="blog_details">
                <p>Whatever may be your way of time schedule, but always keep some materials to review your level of
                  preparation and duration of study in form of cards, mobile apps, note pads etc. and this could give
                  you common repetition and remembrance on important information.</p>

              </div>
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img border" src="img/m-blog-10.jpg" alt="">
                <div class="blog_item_date">
                  <h3>Plan logical down time</h3>
                </div>
              </div>

              <div class="blog_details">
                <p>Catch up your bodily cycle, and then make your plans and schedules around it. If you feel sleepy
                  after lunch then don’t try to keep your eyes open. Just compensate the time to another period. Added
                  don’t be like robot! Include some time for relaxation and refresh your mind recurrently. Take enough
                  sleep to perform to your best of best. </p>
                <p>Reflect on time management. Have you ever heard of any success peoples achieved success without hard
                  work? All famous professionals would have faced success and failures in their careers; in both faces
                  their involvement of time puts the last touches on hard work.</p>
                <p>Unfairly, random candidates who appear for competitive exams think in expecting some magic! Without
                  proper time management and preparation, the success is something impossible in competitive exams.</p>
                <h5>Preparing for competitive exam is like a marathon race, so start to track your time. All the best!
                </h5>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer") %>
</body>

</html>