<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myths about JEE Exam - Each JEE aspirant should know</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/blog.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/responsive.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("../partials/navbar") %>

    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Importance of allowing your child to choose their career</h2>
                    </div>
                    <div class="page_link">
                        <h4 class="topic1"></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img border" src="../images/blogs/blog6/blog6.jpg" alt="">

                            </div>

                            <div class="blog_details">

                                <p>As soon as a child is born , parents start deciding whether he/she will will go to
                                    ICSE /CBSE/ state board school,which profession should he choose Engineering,
                                    medical or law? But as the Child grows up,he develops different set of skills and
                                    interests which might not match with parent's expectations. It is very important to
                                    encourage children to aspire towards whatever they like to be.Because as long as you
                                    enjoy your life, you'll have happier and fuller life.
                                <p>
                                <div class="d-inline-block topic">
                                    <h2> Parents should not force their child to choose career due to the following
                                        reasons-</h2>
                                </div>
                                <div class="d-inline-block topic">
                                    <h4>1. Only once in a lifetime a person decides his career.</h4>
                                </div>
                                <p>Career is important and impacts one's entire future.we have seen many cases in which
                                    the child chooses career forced by parents and ends up being depressed.</p>
                                <div class="d-inline-block topic">
                                    <h4>2. Everyone is blessed and unique</h4>
                                </div>
                                <p>It is rightly said "EVERYBODY IS GENIUS.BUT IF YOU JUDGE A FISH BY ITS ABILITY TO
                                    CLIMB THE TREE,IT WILL LIVE ITS WHOLE LIFE BELIEVING THAT IT IS STUPID". </p>
                                <p>Some kids are good at art and some are good at mathematics. We cannot force an Art
                                    Loving child to study mathematics.</p>


                            </div>
                        </article>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../partials/footer") %>
</body>

</html>