<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link
    href="https://fonts.googleapis.com/css2?family=Revalia&family=Lemon&family=Pavanam&family=Actor&family=Alegreya+Sans:wght@700&family=Amaranth&display=swap"
    rel="stylesheet">
<meta name="description"
    content="counselling gurus provides list of iit and nit college in india according to your rank,jee rank predictor help to predict rank from percentile,jee college predictor hep to get college according to your rank,jee counselling and neet counselling with our gurus makes selection of colleges more easier.">
<meta name="keywords"
    content="iit and nit college in india,jee rank predictor,jee college predictor,jee counselling,neet counselling">
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="author" content="CounsellingGurus">
<title>Counselling Gurus</title>
<link rel="shortcut icon" href="../images/logo.png">