<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <img src="/images/navbar/logo-1.png" class="logo-1">
    </a>

    <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent">
        <ul id="nav-list" class="navbar-nav">
            <li class="nav-item nav-option">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item nav-option">
                <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item nav-option">
                <a class="nav-link" href="/mentor">Mentor</a>
            </li>
            <li class="nav-item nav-option">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item nav-option">
                <a class="nav-link" href="/blogs">Blogs</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    College <br />Predictor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/predictor-mains">JEE Mains</a>
                    <a class="dropdown-item" href="/predictor-advanced">JEE Advanced</a>
                </div>
            </li>


            <li class="nav-item nav-option">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link nav-option dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if(!currentUser){ %>
                    <a class="dropdown-item sign-up" href="/auth/login/" style="margin-bottom: 5px;">Login</a>
                    <a class="dropdown-item sign-up" href="/auth/signup/">Sign Up</a>
                    <% } else{%>
                    <a class="dropdown-item" href="#" style="margin-bottom: 5px;">Profile</a>
                    <a class="dropdown-item sign-up" href="/auth/logout">Logout</a>
                    <% } %>
                </div>

            </li>
        </ul>
    </div>
</nav>