<h1 class="section_header">Don't miss our latest success secrets!</h1>
<h2 class="section_sub">Want the best customer support and exam updates directly delivered to your inbox? </h2>

<div class="container">


    <form class="form-inline">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <input type="email" name="email" placeholder="Enter Your Email Id" value="">
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <button>Keep me Updated</button>
            </div>
        </div>
    </form>


</div>