<h1 class="section-header">what do our users love about us?</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-6">
            <p id="para1">Users are the main factor that decide the value of a brand and they are the persons who
                validate a
                service.</p>
            <p id="para2">Learn how students, parents and teachers across the country have found our services useful.
            </p>
        </div>
        <hr>
        <div class="col col-12 col-sm-12 col-md-6"><img src="../images/homepage/2.png" /></div>
    </div>

</div>