<h1 class="section_header">Worried About Your College Admissions?</h1>
<h2 class="section_sub">Relax - Landing your dream college just got easy!</h2>

<div class="row">
    <div class="col col-12 col-sm-12 col-md-8 col-lg-8">
        <p class="text">
            You have worked hard for your results but what next? We have all been there where we felt a bit alone -
            choosing a college to spend the next 4-5 years of your life and finding a branch that triggers your
            interest on top of it is indeed a daunting task. You might feel there is not enough information or may
            be a little too much of it. It would have been so much easier if you could just ask someone with better
            knowledge about it right? Well, all you have to do is ask us.
        </p>
        <p class="text">
            We at Counselling Gurus believe that you deserve the best. Our team of mentors from premier institutions
            like IITs, NITs, IIITs and reputed medical colleges across the country are as passionate as you about
            your future. Having gone through the same ourselves, we have expertise over all the national and
            regional entrance examinations. Help us get you get into colleges you didn’t know you could. Join us and
            land the college of your dreams.
        </p>
    </div>
    <div class="col col-12 col-sm-12 col-md-4 col-lg-4"><img src="../images/homepage/section-2.png" /></div>
</div>