<div class="container-fluid">
    <div class="row">


        <div class="col col-12 col-lg-3 text-style">
            <p>Get&nbspInto Your Dream College!</p>
            <div class="crack">
                Cracking an Exam is hard, <br> Getting into college shouldn’t be!
            </div>
            <button class="get-started-btn">
                <a href="#">Get Started
                    <img class="get-started-img" src="../images/homepage/Group.png" alt="logo" /></a>
            </button>
        </div>



        <div class="col col-12 col-lg-5">
            <img class="arc" src="../images/homepage/12.png">
        </div>
        <div class="col col-12 col-lg-3 d-none d-sm-block" style="margin-top: 20px; margin-left: -10px;">
            <div style="margin-left: 0px;">
                <img class="arc" src="../images/homepage/g2.png" alt="" style="width:200px; height: 50px;">
                <div class="text-in">
                    <h3>Boards</h3>
                </div>
            </div>
            <div style="margin-left: 60px; margin-top: 30px;">
                <img class="arc" src="../images/homepage/g2.png" alt="" style="width:220px; height: 50px;">
                <div class="text-in">
                    <h3>Engineering</h3>
                </div>
            </div>
            <div style="margin-left: 120px; margin-top: 30px;">
                <img class="arc" src="../images/homepage/g2.png" alt="" style="width:200px; height: 50px;">
                <div class="text-in">
                    <h3>Medical</h3>
                </div>
            </div>
            <div style="margin-left: 60px; margin-top: 30px;">
                <img class="arc" src="../images/homepage/g2.png" alt="" style="width:200px; height: 50px;">
                <div class="text-in">
                    <h3>State Exams</h3>
                </div>
            </div>
            <div style="margin-left: 0px; margin-top: 30px;">
                <img class="arc" src="../images/homepage/g2.png" alt="" style="width:200px; height: 50px;">
                <div class="text-in">
                    <h3>Vocational</h3>
                </div>
            </div>
        </div>


    </div>
</div>