<h1 class="section_header">LET US HELP YOU!</h1>

<div class="row">
    <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="../images/homepage/20_1.png" />
        <p class="help_content">
            7 out of 10 aspirants do not achieve the rank they desired for.
        </p>
    </div>

    <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="../images/homepage/20_2.png" />
        <p class="help_content">
            5 out of 10 aspirants do not know about the branch they opted.
        </p>
    </div>

    <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src=" ../images/homepage/20_3.png" />
        <p class="help_content">
            4 out of 10 faced major problems in Choice Filling & Documentation.
        </p>
    </div>


    <div class="col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="../images/homepage/20_4.png" />
        <p class="help_content">
            6 out of 10 aspirants agreed that they needed a proper guidance.
        </p>
    </div>
</div>