<div class="content">
    <h1 class="section_header">Take a survey and earn a free mentorship session from</h1>
    <h2 class="section_sub">an IITian or Doctor!!</h2>
    <div class="container">
        <button>Proceed Now</button>
    </div>
</div>