<h1 class="section_header">Why Counselling Gurus?</h1>
<h2 class="section_sub">Because we value your hard work!!</h2>


<div class="row">
    <div class="col col-12 col-sm-12 col-md-6 col-xl-3">
        <div class="div_header">Well Researched Data</div>
        <img src="../images/homepage/25_1.png" />
        <p class="div_content">
            Take the guesswork out of your counselling process, choose an institution with standards as high as
            yours based on a data-driven strategy.
        </p>
    </div>

    <div class="col col-12 col-sm-12 col-md-6 col-xl-3">
        <div class="div_header">One on one Sessions</div>
        <img src="../images/homepage/25_2.png" />
        <p class="div_content">
            We understand the times are confusing and tough. Our mentors are here for your every problem, to
            provide individual support tailored just for you!
        </p>
    </div>

    <div class="col col-12 col-sm-12 col-md-6 col-xl-3">
        <div class="div_header">Expert Mentors</div>
        <img src="../images/homepage/25_3.png" />
        <p class="div_content">
            Equipped with knowledge and passion our mentors have expertise on all entrance exams across the
            country, trained to give you the best experience.
        </p>
    </div>

    <div class="col col-12 col-sm-12 col-md-6 col-xl-3">
        <div class="div_header">Take Control</div>
        <img src="../images/homepage/25_4.png" />
        <p class="div_content">
            Overwhelmed by all the diffrerent colleges and branches? Choose us and be in control of the entire
            process.
        </p>
    </div>
</div>

<div class="mentor">
    <a href="/mentor/get"><button>Get a Mentor</button></a>
    <br />
    <a href="#">Become a mentor</a>
</div>