* {
	margin:0;
	padding: 0;
	box-sizing: border-box; 
}

.body{
	width: 100%;
	height: 100%;
}
.help{

font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 35px;
margin-left: 100px;
margin-top: 30px;

color: #000000;
}

.timer{

font-family: Amaranth;
font-style: normal;
font-weight: bold;
font-size: 48px;
text-align: center;
margin-top: 30px;

}

.think{
font-family: Amaranth;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 38px;
text-align: center;
margin-top: 30px;

}

.trend{


font-family: Amaranth;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 45px;

text-align: center;

color: #000000;
}
.take{

font-family: Amaranth;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 45px;
text-align: center;
margin-top: 30px;
color: #000000;
}
.get{

font-family: Amaranth;
font-style: normal;
font-weight: bold;
font-size: 48px;
margin-top: 30px;
text-align: center;

color: #000000;
}
.register{

font-family: Amaranth;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 45px;
text-align: center;
margin-top: 30px;

color: #000000;	
}

.partner{

font-family: Amaranth;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 45px;
text-align: center;
margin-top: 30px;

color: #000000;
}