<!DOCTYPE html>
<html lang="en">

<head>

	<%- include("partials/header") %>
	<link rel="stylesheet" href="/stylesheets/blog-home.css">

</head>

<body>

	<%- include("partials/navbar") %>


	<div class="container">

		<div class="row">
			<div id="blog1" class="col col-12 col-lg-6">
				<div class="content content1">
					<a href="/blogs/blog1">
						<h3 class="blog-heading">Myths about JEE Exam</h3>
					</a>
					<a href="/blogs/blog1" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog2" class="col col-12 col-lg-6">
				<div class="content content2">
					<a href="/blogs/blog2">
						<h3 class="blog-heading">Parents Problem Forever</h3>
					</a>
					<a href="/blogs/blog2" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog3" class="col col-12 col-lg-6">
				<div class="content content3">
					<a href="/blogs/blog3">
						<h3 class="blog-heading">Stress during Exams</h3>
					</a>
					<a href="/blogs/blog3" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog4" class="col col-12 col-lg-6">
				<div class="content content4">
					<a href="/blogs/blog4">
						<h3 class="blog-heading">Technology and Students</h3>
					</a>
					<a href="/blogs/blog4" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog5" class="col col-12 col-lg-6">
				<div class="content content5">
					<a href="/blogs/blog5">
						<h3 class="blog-heading">Studying in the Time of Coronavirus</h3>
					</a>
					<a href="/blogs/blog5" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog6" class="col col-12 col-lg-6">
				<div class="content content6">
					<a href="/blogs/blog6">
						<h3 class="blog-heading">Importance of allowing your child to choose their career</h3>
					</a>
					<a href="/blogs/blog6" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog7" class="col col-12 col-lg-6">
				<div class="content content7">
					<a href="/blogs/blog7">
						<h3 class="blog-heading">Management: The most crucial factor to succeed in any Competive Exam
						</h3>
					</a>
					<a href="/blogs/blog7" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
			<div id="blog12" class="col col-12 col-lg-6">
				<div class="content content12">
					<a href="/blogs/blog12">
						<h3 class="blog-heading">Amazing Facts About BITS Pilani That Will Blow Your Mind!</h3>
					</a>
					<a href="/blogs/blog12" type="button" class="btn btn-outline-light">Read More</a>
				</div>
			</div>
		</div>
	</div>




	<%- include("partials/footer") %>

</body>

</html>