<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/stylesheets/mentor.css">

</head>

<body>
    <%- include("partials/navbar") %>

    <section>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <img src="/images/mentor-1.png" alt="" class="mentor-1">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <h1 class=" we">We Help Everyone To Find <br> The Right Institute.</h1>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <button class="started-1">
                    <a href="/mentor/get">
                        <h3>Get a Mentor</h3>
                    </a>
                </button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <button class="started-2">
                    <a href="#">
                        <h3>Become a Mentor</h3>
                    </a>
                </button>
            </div>
        </div>

    </section>

    <%- include("partials/footer") %>
</body>

</html>