<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/stylesheets/services.css">

</head>

<body>
    <%- include("partials/navbar") %>

    <section class="section1">
        <div id="dream-main">
            <div id="dream-main-image">
                <div id="image-container">
                    <img src="/images/services/dream2.png" id="img1">
                </div>
            </div>
            <div id="dream-main-text">
                <h2>You Need a Mentor.<br>Here’s Where to Find One<br> for Free!</h2>
                <p>The mission of Counselling Gurus is to provide mentorship for JEE and NEET aspirants with an
                    community of IITians and doctors mentors and empowering teens to stay positive and get a good
                    college for future endevours.</p>
            </div>
        </div>
        </div>
    </section>

    <div id="dream-container">
        <div id="dream-image">
            <img src="/images/services/dream.svg" id="img2">
        </div>
        <div id="dream-text">
            <p>To ensure physical distancing does not mean social disconnection, Counselling Gurus and our IITian and
                doctor mentors have created a free mentorship program for JEE and NEET aspirants to stay connected to
                the details and information about exams and colleges during this time of physical distancing.</p>
            <p>If your JEE and NEET preparations have been impacted by COVID-19 and you are interested in using a safe
                and monitored mentorship by someone from your dream college then join our program for free.</p>
            <p>Every year in India, an average of 10-11 lakh new JEE aspirants and 14-15 lakh NEET aspirants register
                for entrance exam to get into a good college. The bad news is only half of them clear the cut-off of
                exam.</p>
            <p>And by the time of admissions, that number is cut to one-fourth. But, there are ways to increase your
                odds of getting into a good college. Working with a mentor has proven to be an indicator of success.</p>
        </div>
    </div>

    <section class="section3">
        <div id="service-list">
            <div id="service-element">
                <h3>Say Bye to Self-Doubt, Hello to Confidence</h3>
                <p>Step up your career plan, preparation of exams & college search. Your mentor will listen to your
                    doubts, give solutions (all drawn from their experience) and take you where you want to be.</p>
                <h3> Stay guided, always.</h3>
                <p>Have 1-on-1 interaction with your mentors to discuss your progress, roadblocks you face in exams and
                    college counselings, etc. Your mentor acts as an accountability partner, thereby accelerating your
                    learning.</p>
                <h3>Learn what matters.</h3>
                <p>Your mentor will provide you with real stats and scenario about exams and colleges that will reduce
                    your hussle & help you to get a good college and career selection.</p>
                <h3>Stuck? Never again.</h3>
                <p>Nothing like getting your doubts being cleared via 1-on-1 calls with your mentor. Depending on the
                    complexity and urgency of your needs, hop on a quick call.</p>
                <h3> Get answers faster.</h3>
                <p> Your mentors can help you with smaller doubts and provide help for all of your issues and queries.
                </p>
                <h3>Mentoring by IITians and Doctors to give You an Edge</h3>
                <p> The best experts from IITs and Medical colleges will help you to be well-equipped to tackle on any
                    problem like exam preparation or college selection. These experts are hand-picked and cautiously
                    vetted to give you an enriching, career-rewarding experience </p>
                <h3>The Mentorship for All</h3>
                <p>Have your own personal coach to guide you through every step. The personal advice and guidance
                    tailored to you paves your way to success</p>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>

</body>

</html>